@nwot:registry=https://artifactory.edge.tmecosys.com/artifactory/api/npm/nwot_npm/
//artifactory.edge.tmecosys.com/artifactory/api/npm/nwot_npm/:_password=${ARTIFACTORY_PASSWORD}
//artifactory.edge.tmecosys.com/artifactory/api/npm/nwot_npm/:username=marcel.moestel
//artifactory.edge.tmecosys.com/artifactory/api/npm/nwot_npm/:email=${ARTIFACTORY_EMAIL}
//artifactory.edge.tmecosys.com/artifactory/api/npm/nwot_npm/:always-auth=true
